<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       https://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">


    <context:property-placeholder location="classpath:jdbc.properties"/>
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" destroy-method="close">
        <property name="url" value="${jdbc.url}"/>
        <property name="driverClassName" value="${jdbc.driver}"/>
        <property name="username" value="${jdbc.user}"/>
        <property name="password" value="${jdbc.password}"/>
        <property name="initialSize" value="${jdbc.initialSize}"/>
        <property name="maxActive" value="${jdbc.maxTotal}"/>
        <property name="minIdle" value="${jdbc.minIdle}"/>
    </bean>

    <!--
    直接使用Spring管理Mybatis，真是好用的一!
    -->
    <bean id="sqlSessionFactory"    class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="configLocation" value="classpath:mybatis.xml"/>
        <property name="mapperLocations" value="classpath:com/L/mapper/*Mapper.xml"/>
        <property name="typeAliasesPackage" value="com.L.pojo"/>
    </bean>

    <bean id="sqlSession"   class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg ref="sqlSessionFactory"/>
    </bean>

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.L.mapper"/>
    </bean>




    <bean id="txAdvice" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <!--将希望被管理事务的数据库连接池对象写入-->
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <tx:advice id="txMyAdvice" transaction-manager="txAdvice">
        <tx:attributes>
            <tx:method name="*" propagation="REQUIRED"/>
        </tx:attributes>
    </tx:advice>

    <aop:config>
        <aop:pointcut id="servicePointCut" expression="execution(* com.L.service..*.*(..))"/>
        <aop:advisor advice-ref="txMyAdvice" pointcut-ref="servicePointCut"/>
    </aop:config>
    <context:component-scan base-package="com.L.service.*"/>
</beans>